<% include partials/header %> 
 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Welcome To NHL finder</h1>
             <p>View all the NHL teams</p>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% data["teams"].forEach(function(team){ %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <h3></h3><%= team.name %></h3>
                   <div class="caption">
                       <h4><%= team.venue.name %></h4>
                    </div>   
               </div>
            </div>
        <% }); %>
    </div>
</div>

<% include partials/footer %>
